/*Initial File: Maddie*/

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=ZCOOL+QingKe+HuangYou&family=ZCOOL+XiaoWei&display=swap');

* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

/* IDs */
#page-wrapper {
    font-family: "Jaro", sans-serif ;
    width: 100%;
    background-color: dimgray;
}

/* this is for the media queries */
#media-layout {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: dimgray;
    padding: 2vw;
    font-size: calc(5px + 2vw);
    border-bottom-style: double;
    border-bottom-width: 5px;
    color: white;
    border-color: lavender;
    text-align: center;
    font-family: serif;

}

/* NAV */
nav {
    padding: 1vw 0;
    background-color: lightblue;
    text-align: center;
}
nav ul {
    list-style-type: none;
}
nav li {
    padding: 2.5vw 2vw;
    font-size: calc(2px + 1.4vw);
    display: inline;
}
nav a:link {
    color: black;
}

nav a:visited {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

/* MAIN */
main{
    font-family: "Times New Roman", "Courier New", monospace;
}
main {
    color: white;
    margin: 2vw;
    font-size: calc(3px + 1.5vw);
    padding: 0.5vw;

}
main ul {
    margin: 1vw 2vw;
    font-size: calc(2px + 1.4vw);
}

main h1{
    font-family: "Lucida Console", "Courier New", monospace;
}
/* FOOTER */
footer {
    margin-top: 2vw;
    padding: 1.5vw;
    background-color: dimgray;
    border-top-style: double;
    border-color: #aaf7ff;
    color: white;
}

footer a{
    text-decoration: none;
}

h2{
    color: white;
}
h3 {
    font-size: calc(3px + 1.4vw);
    color: #aaf7ff;
    padding: 1vw 1vw 1vw 0;
}

.hi{text-align: center;}

hr{
    border: 1px solid deepskyblue;
}

#personal{ color: #aaf7ff}

.owo{
    color: #aaf7ff;
    text-align: center;}

/* MEDIA QUERIES */

@media screen and (max-width: 750px) {
    #media-layout{
        display: flex;
        flex-direction: column;
    }
    #columns {
        text-align: center;
    }
    header {
        text-align: center;
    }
    nav {
        width: 100%;
        text-align: center;
    }
    main {
        width: 100%;
        height: 100vh;
    }
    nav li {
        display: inline;
        margin: 2vw 0;
    }
}
